.example-container {
    
    margin-left: 5%;
    height: 670px;
    width: 90%;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 1000px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  

  

