.example-container {
    width:  100%;
    height: 100%;
    

  }
  
  .example-sidenav {
    text-align: center;
    width:  15%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .title {
    cursor: pointer;
  }

  .mongkol {
    
    margin-left: 5%;
    height: 670px;
    width: 90%;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 500px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  